:root {
    --main-font: 'montserrat', arial, sans-serif;
    --dark-branding-color: #20263b;
}

body {
    font-family: var(--main-font);
    color: var(--dark-branding-color);
}

h1 {
    font-weight: 600;
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    line-height: 30px;
}

.hero {
    background-image: url(/imgs/Mock-upbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 200px;
}

.hero .hero-card {
    background-color: rgba(255,255,255,0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.0px );
-webkit-backdrop-filter: blur( 4.0px );
border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding: 50px 80px;
}

.hero h2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.hero .btn-branding {
    border: 1px solid var(--dark-branding-color);
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 5px;
}

.hero .btn-branding:hover {
    background-color: var(--dark-branding-color);
    color: #ffffff;
}

.btn-branding-full {
    background-color: var(--dark-branding-color);
    padding: 16px 20px;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

.btn-branding-full:hover {
    color: #ffffff;
}

.project-description {
    padding: 40px 60px;
}
@media (max-width: 1400px) {
    .project-description {
        padding-top: 15px;
    }
}
@media (max-width: 960px) {
    .section-img {
        display: block;
        margin: 0 auto;
    }
    .hero {
        padding: 30px;
        padding-top: 150px;
    }
    .hero .hero-card {
        background-color: rgba(255,255,255,0.25);
        box-shadow: 0 4px 12px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        max-width: 400px;
        display: block;
        margin: 0 auto;
        padding: 20px 30px;
    }
    .project-description {
        margin-top: 50px;
        padding: 0;
    }
}

.radius-img {
    border-radius: 15px;
}

.about-section {
    height: 100vh;
    width: 100vw;
    padding: 170px 200px 200px;
}

.about-section h2 {
    font-size: 30px;
    font-weight: 300;
}

.about-section-content {
    margin: 30px;
}

@media (max-width: 960px) {
    .about-section-content {
        margin: 0px;
        margin-bottom: 60px;
        text-align: center;
    }
    .about-section {
        padding: 100px;
    }

}